body{
    right:0;
    top:0;
    left:0;
    margin:0;
    padding:0;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

button{
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}


.tagcont{
    border-radius: 2px;
    border-color: teal;
    border-style: solid;
}

.boxhead{
    font-size: large;
}

.sidebar{
    width:20%;
    height:100%;
    position:fixed;
    right:0;
    top:0;
    padding:10px;
    background-color: aqua;

}

.postsegments{
    width:80%;
    left:0;
}

.postsegmentscont{
    padding:10px;
    border-style: solid;
    border-radius: 2px;
    border-color: thistle;
    margin:1px;
}

.video{
    width:80%;
    height:200px;
    background-color: cadetblue;
}

.infobox{
    border: turquoise;
}
